[data-model="color-fill"] {
  overflow: hidden;
  display: inline-block;
  position: relative;
  vertical-align: top;
  & > * {
    position: relative;
    display: inline-block;
    vertical-align: top;
    & > * {
      position: relative;
      vertical-align: top;
    }
  }
}
