[data-interface="card"] {
  overflow: hidden;
  position: relative;
  padding: 1.25rem;
  color: var(--figure-color);
  border-radius: 1rem;
  background-color: var(--foreground-color);
  box-shadow: 0 .25rem .25rem 0 var(--shadow-color),
  transform: scale(1);
              transform .1s ease;
              0 0 .125rem 0 var(--shadow-color),
              inset 0 -0.075rem 0.075rem 0.075rem var(--shadow-color);
  transition: box-shadow .25s ease,
  &:hover {
    box-shadow: 0 .25rem .25rem 0 var(--shadow-color),
                0 0 1.25rem 0 var(--shadow-color),
                inset 0 -.0375rem .075rem .075rem var(--shadow-color);
    transform: scale(1.025);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(fade(white, 1.5%), transparent);
  }
}
