[data-interface="card"] {
  overflow: hidden;
  position: relative;
  padding: 1.25rem;
  color: var(--figure-color);
  font-weight: 300;
  border-radius: 1rem;
  background-color: var(--foreground-color);
  box-shadow: 0 .25rem .25rem 0 var(--shadow-color),
              0 0 .125rem 0 var(--shadow-color),
              inset 0 -0.075rem 0.075rem 0.075rem var(--shadow-color);
  transform: scale(0.975);
  transition: box-shadow .25s ease,
              transform .25s ease;
  &:hover {
    box-shadow: 0 .25rem .25rem 0 var(--shadow-color),
                0 0 1.25rem 0 var(--shadow-color),
                inset 0 -.0375rem .075rem .075rem var(--shadow-color);
    transform: scale(1);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(fade(white, 1.5%), transparent);
  }
  &.layout-horizontal {
    display: flex;
    flex-direction: row;
    & > .visual {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 1rem;
      &[data-interface="icon"] {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  &.layout-vertical {
    display: flex;
    flex-direction: column;
    & > * {
      flex-grow: 1;
      width: 100%;
    }
  }
  & > .text {
    .title {
      display: inline-block;
      margin-bottom: .25rem;
    }
    .description {
      font-size: .9em;
    }
  }
}
