[data-interface="card"] {
  overflow: hidden;
  position: relative;
  padding: 1.25rem;
  color: var(--figure-color);
  font-size: .9rem;
  font-weight: 300;
  border-radius: 1rem;
  background-color: var(--foreground-color);
  box-shadow: 0 .25rem .25rem 0 var(--shade-color),
              0 0 .125rem 0 var(--shade-color),
              inset 0 -0.075rem 0.075rem 0.075rem var(--shade-color);
  transform: scale(0.975);
  transition: box-shadow .25s ease,
              transform .25s ease;
  &:hover {
    box-shadow: 0 .25rem .25rem 0 var(--shade-color),
                0 0 1.25rem 0 var(--shade-color),
                inset 0 -.0375rem .075rem .075rem var(--shade-color);
    transform: scale(1);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(fade(white, 1.5%), transparent);
  }
  &.layout-horizontal {
    display: flex;
    & > .visual {
      margin-right: 1rem;
      & > .carousel {
        flex-direction: column;
      }
    }
    & > .content {
      flex-direction: row;
      & > .icon {
        margin-bottom: 1rem;
      }
    }
  }
  &.layout-vertical {
    display: flex;
    flex-direction: column;
    & > * {
      flex-grow: 1;
      width: 100%;
    }
    & > .visual {
      margin-bottom: 1rem;
      & > .carousel {
        display: flex;
        width: 100%;
        & > * {
          margin-right: 2px;
          &:last-child {
            margin-right: 0;
          }
          width: 100%;
          & > * {
            width: 100%;
          }
        }
      }
      & > img {
        width: 100%;
        height: auto;
      }
    }
    & > .content {
      & > .icon {
        margin-right: 1rem;
      }
    }
  }
  & > .visual {
    height: auto;
    border-radius: .25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > .content {
    display: flex;
    .icon {
      flex-shrink: 0;
      flex-grow: 0;
      text-align: left;
      & > * {
        width: 2rem;
        height: 2rem;
        vertical-align: top;
        &[data-orientation="portrait"] {
          height: auto;
          max-height: 2.75rem;
        }
        &[data-orientation="landscape"] {
          width: auto;
          max-width: 2.75rem;
        }
        &:not([data-orientation]) {
          width: 2.375rem;
          height: 2.375rem;
        }
      }
    }
    .text {
      text-align: left;
      & > * {
        display: block;
      }
      .title {
        margin-bottom: .25rem;
        font-weight: 700;
        line-height: 125%;
      }
      .description {
        line-height: calc(4rem / 3);
      }
    }
  }
  img {
    vertical-align: top;
  }
}
