[data-layout="container"] {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: 90%;
  max-width: 1152px; // 1280px × 90%
  margin: 0 auto;
  margin-bottom: 3rem;
  &:last-child {
    margin-bottom: 0 !important;
  }
  &.block {
    display: block;
  }
  &.width-maximum {
    max-width: unset;
  }
}

// Responsive

@import '~/styles/media.less';

/* 768 ≤ Window Width < 1024 */
@media only screen and (min-width: @breakpoints[medium-limit-inferior]) and (max-width: @breakpoints[medium-limit-superior]) {
  [data-layout="container"] {
    margin-bottom: 2.5rem;
  }
}

/* 480 ≤ Window Width < 768 */
@media only screen and (min-width: @breakpoints[small-limit-inferior]) and (max-width: @breakpoints[small-limit-superior]) {
  [data-layout="container"] {
    margin-bottom: 2.25rem;
  }
}

/* Window Width < 480 */
@media only screen and (max-width: @breakpoints[xsmall-limit-superior]) {
  [data-layout="container"] {
    margin-bottom: 1.75rem;
  }
}
