[data-content="work-summary"] {
  text-align: center;
  & > [data-layout="container"] {
    &:first-child {
      & > * {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
      }
      [data-content="media"] {
        margin-top: 0;
        margin-bottom: 2.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 .5rem 0 fade(black, 7.5%);
      }
    }
  }
  [data-type="heading"] {
    margin-top: 2.5rem;
    & + i {
      position: relative;
      top: -1rem;
      color: var(--primary-color);
    }
  }
  [data-content="media"] {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2.5rem;
    border-radius: .125rem;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
    &.monocolor {
      opacity: 87.5%;
    }
  }
  [data-type="information"] {
    margin-top: 1.5rem;
  }
  small {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
    sub {
      font-size: .8em;
      vertical-align: sub;
    }
    i {
      opacity: .75;
      display: block;
      color: var(--primary-color);
      font-size: .875em;
      font-weight: 300;
    }
  }
}

// Responsive

@import '~/styles/media.less';

/* Window Width < 1024 */
@media only screen and (max-width: @breakpoints[medium-limit-superior]) {
  [data-content="work-summary"] {
    & > [data-layout="container"] {
      &:first-child {
        & > * {
          max-width: 100%;
        }
      }
    }
  }
}
