// Style: Content > Work brand (Main)
[data-content="work-brand"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  &.centered {
    align-items: center;
  }
  & > .label {
    margin: 0 !important;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: -0.025em;
  }
}

// Style: Content > Work brand (< 1280px)
[data-content="work-brand"] {
  & > .label {
    font-size: 1.375em;
  }
}

// Style: Content > Work brand (< 1024px)
@media (max-width: 1023.98px) {
  [data-content="work-brand"] {
    & > .label {
      font-size: 1.625em;
    }
  }
}