// Style: Interface > Form > Input (Main)
[data-interface="form"] {
  [data-component="input"] {
    &.type-text,
    &.type-number,
    &.type-email,
    &.type-password {
      display: inline-block;
      width: 100%;
      padding: .625em .875em;
      color: var(--figure-color);
      font-weight: 300;
      font-size: 1em;
      line-height: 1.75em;
      border: none;
      border-radius: .75em;
      outline: none;
      background-color: var(--ground-accent-color);
      transform: scale(1);
      transform-origin: center;
      transition: transform .25s ease;
      will-change: transform;
      &:focus {
        transform: scale(1.015625);
      }
      &::placeholder {
        color: var(--figure-inactive-color);
      }
    }
    &.type-submit {
      width: 100%;
    }
  }
}