[data-model="navigation"] {
  position: sticky;
  z-index: 2147483646; // 2147483647 - 1
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  line-height: 3.5rem;
  background-color: hsla(var(--ground-color-hsl), .8);
  box-shadow: 0 2px 0 hsla(var(--figure-color-hsl), .05);
  backdrop-filter: blur(1rem);
  [data-layout="container"] {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    line-height: inherit;
  }
  [data-interface="link"] {
    display: inline-block;
    position: relative;
    opacity: .65;
    height: inherit;
    color: inherit;
    font-family: "Montserrat";
    font-size: 1.375rem;
    font-weight: 400;
    font-style: normal;
    line-height: inherit;
    letter-spacing: -.05em;
    text-transform: lowercase;
    vertical-align: middle;
    transition: opacity .5s ease;
    &:hover {
      opacity: 1;
      left: 0;
    }
    &.brand, &.switch {
      opacity: 1;
    }
  }
  .identity {
    height: inherit;
    line-height: inherit;
    [data-interface="link"] {
      vertical-align: top;
    }
    [data-identity="logo"] {
      position: relative;
      top: -0.025rem;
      width: 5.875rem;
      & > * {
        fill: var(--figure-color);
      }
    }
    .label {
      width: 5.5rem;
      text-align: left;
      text-indent: -5.5rem;
      overflow: hidden;
      transition: opacity .5s ease, text-indent .5s ease;
      &:before {
        content: ":";
        display: inline-block;
        position: relative;
        width: .5rem;
        text-align: center;
      }
      &[data-label="home"], &[data-label="error"] {
        visibility: hidden;
        width: 1px;
      }
      &.visible {
        text-indent: 0;
      }
    }
  }
  .controls {
    & > * {
      margin-left: 1rem;
    }
    [data-interface="link"] {
      opacity: 1;
      text-align: center;
      &.theme-switch {
        height: 1rem;
      }
      &.menu-switch {
        height: 0.8rem;
      }
      [data-interface="icon"] {
        height: inherit;
        vertical-align: top;
        & > * {
          fill: var(--figure-color)
        }
      }
    }
  }
}
