@import '~/styles/media.less';

// Root
:root {
  &.light {
    [data-extreme="light"] {
      [data-section="summary"] small > i,
      [data-content="promotion"] .dim,
      [data-content="promotion"] [data-interface="link"],
      [data-content="colophon"] {
        --primary-color: hsla(var(--figure-color-hsl), 0.5) !important;
      }
    }
    .monocolor {
      filter: brightness(0%)
              invert(22%)
              sepia(15%)
              saturate(760%)
              hue-rotate(167deg)
              brightness(91%)
              contrast(90%);
    }
  }
  &.dark {
    [data-extreme="dark"] {
      [data-section="summary"] small > i,
      [data-content="promotion"] .dim,
      [data-content="promotion"] [data-interface="link"],
      [data-content="colophon"] {
        --primary-color: hsla(var(--figure-color-hsl), 0.5) !important;
      }
    }
    .monocolor {
      filter: brightness(0%)
              invert(100%);
    }
  }
}

// Body
body {
  min-width: @breakpoints[xsmall-limit-inferior];
  &.stationary {
    overflow: hidden;
  }
}

// Page
[data-layout="page"] {
  &[data-parent="works"] {
    &[data-page="logo-collection"] {
      [data-section] {
        &[data-section="work-summary"] {
          [data-type="heading"] {
            margin-top: 5rem;
          }
          [data-media="image"] {
            max-width: 100%;
            margin-top: 4rem;
          }
        }
      }
    }
    & > * {
      &:first-child {
        padding-bottom: 0;
      }
    }
    & + * {
      .color {
        display: none;
      }
    }
  }
  & > * {
    position: relative;
    padding: 6rem 0;
    background-color: var(--ground-color);
    &:nth-child(2n + 1) {
      z-index: 3;
      border-style: solid;
      border-color: var(--shade-color);
      border-top-width: 1px;
      border-bottom-width: 1px;
      box-shadow: 0 0 0.5rem var(--shade-color);
    }
    &:nth-child(2n) {
      z-index: 2;
      background-color: var(--ground-alternative-color);
    }
    &:first-child {
      border-top-width: 0 !important;
    }
    &:last-child {
      border-bottom: 1px solid var(--shade-color);
      box-shadow: 0 0 0.5rem var(--shade-color);
    }
    & > [data-type="heading"] {
      &.dim {
        margin-bottom: .375em;
        user-select: none;
      }
    }
  }
  [data-header] {
    position: relative;
    z-index: 4;
    margin-top: calc(3.5rem - 1px); // 1px is necessary for visual continuity
    background-color: var(--ground-color);
    [data-model="headline"] {
      margin-bottom: .375em;
    }
  }
  [data-section] {
    & > [data-layout="container"] {
      & > .note {
        display: flex;
        margin-top: 1.5rem;
        padding: 0 .25rem;
        mark {
          margin-right: .25rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 80%;
          user-select: none;
        }
        .detail {
          margin-top: -0.25em;
        }
      }
    }
  }
}

// Responsive

@import '~/styles/media.less';

/* 768 ≤ Window Width < 1024 */
@media only screen and (min-width: @breakpoints[medium-limit-inferior]) and (max-width: @breakpoints[medium-limit-superior]) {
  // Page
  [data-layout="page"] {
    & > * {
      padding: 4.5rem 0;
      [data-type="heading"] {
        &.dim {
          margin-bottom: .375em;
          & + * {
            margin-bottom: .75em;
          }
        }
      }
    }
  }
}

/* 480 ≤ Window Width < 768 */
@media only screen and (min-width: @breakpoints[small-limit-inferior]) and (max-width: @breakpoints[small-limit-superior]) {
  [data-layout="page"] {
    & > * {
      padding: 3rem 0;
      [data-type="heading"] {
        &.dim {
          margin-bottom: .375em;
          & + * {
            margin-bottom: .75em;
          }
        }
      }
    }
    [data-header] {
      h1[data-type="heading"] {
        &.heading-size-bigger {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

/* Window Width < 480 */
@media only screen and (max-width: @breakpoints[xsmall-limit-superior]) {
  [data-layout="page"] {
    & > * {
      padding: 3rem 0;
      [data-type="heading"] {
        &.dim {
          margin-bottom: .375em;
          & + * {
            margin-bottom: .75em;
          }
        }
      }
    }
    [data-header] {
      h1[data-type="heading"] {
        &.heading-size-bigger {
          font-size: 1.75rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
