// Body
body {
  &.stationary {
    overflow: hidden;
  }
}

// Page
[data-layout="page"] {
  & > * {
    position: relative;
    background-color: var(--ground-color);
    &:nth-child(2n + 1) {
      z-index: 3;
      border-style: solid;
      border-color: var(--shade-color);
      border-top-width: 1px;
      border-bottom-width: 1px;
      box-shadow: 0 0 0.5rem var(--shade-color);
    }
    &:nth-child(2n) {
      z-index: 2;
      background-color: var(--ground-alternative-color);
    }
    &:first-child {
      padding-top: 11rem; // 7.5rem (header padding) + 3.5rem (patch)
    }
    &:last-child {
      border-bottom: 1px solid var(--shade-color);
      box-shadow: 0 0 0.5rem var(--shade-color);
    }
    [data-type="heading"] {
      &.dim {
        & + [data-model="headline"] {
          margin-bottom: .375em;
        }
      }
    }
  }
  [data-header] {
    position: relative;
    z-index: 4;
    padding-bottom: 7.5rem;
    background-color: var(--ground-color);
  }
  [data-footer] {
    position: sticky;
    z-index: 1;
    bottom: 0;
  }
}

// Connector
[data-content="connector"] {
  [data-interface="icon"] {
    & > * {
      fill: var(--figure-color);
    }
  }
}
