* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  &::selection {
    background-color: rgba(var(--figure-color-rgb), .1);
  }
}
a, button {
  cursor: pointer;
}
br {
  user-select: none;
}
img {
  user-select: none;
}
svg {
  pointer-events: none;
  user-select: none;
}
textarea {
  font-family: inherit;
  resize: none;
}
ol {
  list-style: decimal;
  list-style-position: inside;
}
code {
  display: inline-block;
}
mark {
  background-color: transparent;
}
