:root {
  color-scheme: light dark;
  --hue: 210;
  --saturation: 15%;
  --green-hsl: 149, 65%, 50%;
  --green: hsl(var(--green-hsl));
  --yellow-hsl: 43, 100%, 50%;
  --yellow: hsl(var(--yellow-hsl));
  --orange-hsl: 23, 100%, 59%;
  --orange: hsl(var(--orange-hsl));
  --pink-hsl: 345, 100%, 62%;
  --pink: hsl(var(--pink-hsl));
  --purple-hsl: 253, 100%, 70%;
  --purple: hsl(var(--purple-hsl));
  --blue-hsl: 195, 100%, 50%;
  --blue: hsl(var(--blue-hsl));
  --primary-color-hsl: var(--green-hsl);
  --primary-color: hsl(var(--primary-color));
  --figure-color-hsl: var(--hue), var(--saturation), 99%; // +99
  --figure-color: hsl(var(--figure-color-hsl));
  --foreground-color-hsl: var(--hue), var(--saturation), 18%; // +18
  --foreground-color: hsl(var(--foreground-color-hsl));
  --ground-color-hsl: var(--hue), var(--saturation), 15%; // +15
  --ground-color: hsl(var(--ground-color-hsl));
  --ground-alternative-color-hsl: var(--hue), var(--saturation), 12%; // +12
  --ground-alternative-color: hsl(var(--ground-alternative-color-hsl));
  --background-color-hsl: var(--hue), var(--saturation), 9%; // +9
  --background-color: hsl(var(--background-color-hsl));
  --shade-color: hsla(var(--background-color-hsl), .15);
}

:root.light {
  --saturation: 18%;
  --figure-color-hsl: var(--hue), var(--saturation), 28%; // - 72
  --foreground-color-hsl: var(--hue), var(--saturation), 100%;
  --ground-color-hsl: var(--hue), var(--saturation), 97%; // -3
  --ground-alternative-color-hsl: var(--hue), var(--saturation), 94%; // -6
  --background-color-hsl: var(--hue), var(--saturation), 91%; // -9
  --shade-color: hsla(var(--figure-color-hsl), .05);
}

html, body {
  background-color: var(--background-color);
}

body {
  color: hsla(var(--figure-color-hsl), .625);
}
