:root {
  color-scheme: light dark;
  --green-rgb: 47, 215, 127;
  --green: rgb(var(--green-rgb));
  --yellow-rgb: 255, 183, 0;
  --yellow: rgb(var(--yellow-rgb));
  --orange-rgb: 255, 127, 47;
  --orange: rgb(var(--orange-rgb));
  --pink-rgb: 255, 63, 111;
  --pink: rgb(var(--pink-rgb));
  --purple-rgb: 135, 103, 255;
  --purple: rgb(var(--purple-rgb));
  --blue-rgb: 0, 191, 255;
  --blue: rgb(var(--blue-rgb));
  --figure-color-rgb: 255, 255, 255;
  --figure-color: rgb(var(--figure-color-rgb));
  --ground-color-rgb: 35, 41, 47;
  --ground-color: rgb(var(--ground-color-rgb));
  --foreground-color-rgb: 47, 55, 63;
  --foreground-color: rgb(var(--foreground-color-rgb));
  --background-color-rgb: 23, 27, 31;
  --background-color: rgb(var(--background-color-rgb));
  --shade-color: rgba(0, 0, 0, 10%);
}

:root.light {
  --figure-color-rgb: 47, 55, 71;
  --ground-color-rgb: 243, 245, 247;
  --foreground-color-rgb: 255, 255, 255;
  --background-color-rgb: 225, 230, 235;
  --shade-color: rgba(var(--figure-color-rgb), 5%);
}

html, body {
  background-color: var(--background-color);
}

body {
  color: rgba(var(--figure-color-rgb), .625);
}
