[data-interface="link"] {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  &[disabled] {
    opacity: .25 !important;
    cursor: not-allowed;
  }
  &.type-regular {
    position: relative;
    &:hover {
      &:after {
        opacity: .5;
        bottom: .0875em;
      }
    }
    &:after {
      content: "";
      opacity: .25;
      position: absolute;
      left: 0;
      bottom: .175em;
      width: 100%;
      height: 1px;
      border-width: 0;
      border-style: solid;
      border-color: inherit;
      border-bottom-width: 1px;
      transition: opacity .15s ease,
                  bottom .15s ease;
    }
  }
  &.type-cta, &.type-external, &.type-download, &.type-back {
    position: relative;
    &:after {
      content: "→";
      display: inline-block;
      position: absolute;
      top: 0;
      font-family: "Inter",
                   -apple-system,
                   BlinkMacSystemFont,
                   "Segoe UI",
                   Roboto,
                   Oxygen-Sans,
                   Ubuntu,
                   Cantarell,
                   "Helvetica Neue",
                   Helvetica,
                   Arial,
                   sans-serif,
                   "Apple Color Emoji",
                   "Segoe UI Emoji",
                   "Segoe UI Symbol";
      font-weight: 700;
      transition: top .05s ease,
                  right .05s ease;
    }
    &.arrow-hidden {
      padding-right: 0;
    }
  }
  &.type-cta {
    padding-right: 1em;
    &:after {
      right: -.05em;
    }
    &:hover {
      &:after {
        right: -.175em;
      }
    }
  }
  &.type-external {
    padding-right: 1em;
    &:after {
      top: .05em;
      right: .05em;
      transform: rotate(-45deg);
    }
    &:hover {
      &:after {
        top: -.05em;
        right: -.05em;
      }
    }
  }
  &.type-download {
    padding-right: 1em;
    &:after {
      top: -.025em;
      right: -.05em;
      transform: rotate(90deg);
    }
    &:hover {
      &:after {
        top: .125em;
      }
    }
  }
  &.type-back {
    padding-left: 1em;
    &:after {
      left: -.05em;
      transform: scaleX(-1);
    }
    &:hover {
      &:after {
        left: -.175em;
      }
    }
    &.arrow-hidden {
      padding-left: 0;
    }
  }
  &.arrow-hidden {
    &:after {
      display: none !important;
    }
  }
}
