// Style: Interface > Tabbing (Main)
[data-interface="tabbing"] {
  --tab-radius: 1rem;
  --tab-spacing: .125rem;
  --tab-effect-color: var(--shine-strong-color);
  overflow: hidden;
  user-select: none;
  & > .tabs {
    overflow: auto;
    display: inline-flex;
    justify-content: flex-start;
    gap: var(--tab-spacing);
    max-width: 100%;
    padding: var(--tab-spacing);
    border-radius: var(--tab-radius);
    background-color: var(--ground-accent-color);
    box-shadow: inset 0 0 0 1px var(--shade-weak-color);
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE & Edge
    &::-webkit-scrollbar { // Chrome & Safari
      display: none;
    }
    & > .tab {
      flex-shrink: 0;
      padding: .375rem .875rem;
      background-color: transparent;
      color: var(--figure-weak-color);
      font-size: .75rem;
      font-weight: 500;
      border-radius: calc(var(--tab-radius) - var(--tab-spacing));
      cursor: pointer;
      &.active {
        color: var(--figure-strong-color);
        background-color: var(--ground-color);
        background-image: linear-gradient(transparent, var(--shade-weak-color));
        box-shadow: inset 0 0 0 1px var(--tone-color),
                    inset 0 -1px 0 1.5px var(--tab-effect-color),
                    0 0 var(--tab-spacing) 0 var(--shade-weak-color);
      }
    }
  }
}

// Style: Interface > Tabbing (Dark)
[data-theme="dark"] {
  [data-interface="tabbing"] {
    & > .tabs {
      & > .tab {
        &.active {
          --tab-effect-color: var(--tone-color);
        }
      }
    }
  }
}
