[data-content="excerpt"] {
  padding: 1.5rem;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200vh; // High enough to cover upper side
    background-color: var(--ground-alternative-color);
  }
  ul {
    li {
      display: inline-block;
      position: relative;
      margin-right: 2rem;
      text-align: left;
      vertical-align: top;
      &:last-child {
        margin-right: 0;
      }
      &.tags {
        max-width: 40%;
      }
      strong {
        opacity: .25;
        display: block;
        font-size: .8rem;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
}
