[data-model="controller"] {
  &[data-color] {
    --primary-color: rgb(var(--primary-color-rgb));
    &[data-color="green"] {
      --primary-color-rgb: var(--green-rgb);
    }
    &[data-color="yellow"] {
      --primary-color-rgb: var(--yellow-rgb);
    }
    &[data-color="pink"] {
      --primary-color-rgb: var(--pink-rgb);
    }
    &[data-color="purple"] {
      --primary-color-rgb: var(--purple-rgb);
    }
    &[data-color="blue"] {
      --primary-color-rgb: var(--blue-rgb);
    }
  }
  &.open {
    & > .screen {
      overflow: hidden;
      top: 5rem;
      border-radius: 1rem;
      transform: scale(.98);
      box-shadow: 0 0 2.5rem fade(black, 15%);
      & > * {
        &:not([data-model="navigation"]), &[data-model="navigation"] .identity {
          pointer-events: none;
          cursor: not-allowed;
        }
      }
    }
    & > .menu {
      opacity: 1;
      top: 0;
    }
  }
  & > .screen {
    overflow: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    transform-origin: center top;
    box-shadow: 0 0 0 fade(black, 0%);
    transition: top .35s ease,
                border-radius .35s ease,
                transform .35s ease,
                box-shadow .35s ease;
  }
  & > .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    z-index: 0;
    top: 2.5rem;
    left: 0;
    right: 0;
    height: 5rem;
    transition: top .35s ease,
                opacity .35s ease;
    & > [data-layout="container"] {
      & > [data-layout="stack"] {
        padding: 0 1%;
      }
    }
    ul {
      display: inline-block;
      width: 100%;
      font-size: .85rem;
      font-weight: 700;
      text-transform: uppercase;
      &.pages {
        text-align: left;
        & > * {
          margin-right: 2.5rem;
        }
      }
      &.social {
        text-align: right;
        & > * {
          margin-right: 1rem;
          [data-interface="link"] {
            & > [data-interface="icon"] {
              &[data-icon="twitter"] {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
        }
      }
      & > * {
        display: inline-block;
        &:last-child {
          margin-right: 0 !important;
        }
        [data-interface="link"] {
          opacity: .5;
          padding-right: 0;
          color: var(--figure-color);
          font-size: .9em;
          font-weight: 700;
          transition: opacity .35s ease;
          &:hover {
            opacity: 1;
          }
          &:before, &:after {
            display: none;
          }
          & > [data-interface="icon"] {
            width: 1.125rem;
            height: 1.125rem;
            & > * {
              fill: var(--figure-color);
            }
          }
        }
      }
    }
  }
}
