[data-type="hint"] {
  position: relative;
  &.active {
    & > .wrapper {
      & > .switch {
        &:before {
          display: block;
        }
      }
      & > .text {
        display: block;
      }
    }
  }
  & > .wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: -1em;
    height: .875em;
    color: hsla(var(--figure-color-hsl), .5);
    font-size: 1rem;
    font-weight: 500;
    line-height: .875em;
    letter-spacing: -.05em;
    white-space: nowrap;
    user-select: none;
    & > .switch {
      width: 1.5em;
      height: 1.5em;
      padding: .375em;
      cursor: pointer;
      &:before {
        content: "";
        box-sizing: border-box;
        display: none;
        position: absolute;
        top: -.125em;
        right: calc(.75em - 1px);
        width: .875em;
        height: .5em;
        border: 2px solid hsla(var(--figure-color-hsl), .25);
        border-left: none;
        border-bottom: none;
        border-top-right-radius: .25em;
      }
      & > [data-interface="icon"] {
        width: .75em;
        height: .75em;
        & > * {
          fill: hsla(var(--figure-color-hsl), .25);
        }
      }
    }
    & > .text {
      display: none;
      position: relative;
      top: -.5em;
      font-size: .875em;
      margin-right: .25em;
    }
  }
}

// Responsive

@import '~/styles/media.less';

/* 480 ≤ Window Width < 768 */
@media only screen and (min-width: @breakpoints[small-limit-inferior]) and (max-width: @breakpoints[small-limit-superior]) {
  [data-type="hint"] {
    & > .wrapper {
      top: -.125em;
      font-size: .875rem;
    }
  }
}

/* Window Width < 480 */
@media only screen and (max-width: @breakpoints[xsmall-limit-superior]) {
  [data-type="hint"] {
    & > .wrapper {
      top: -.25em;
      font-size: .75rem;
    }
  }
}
