[data-interface="button"] {
  opacity: .875;
  display: inline-block;
  width: auto;
  max-width: 100%;
  padding: 0 1em;
  color: white;
  font-family: inherit;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  border-radius: .5em;
  outline: none;
  background-color: var(--primary-color);
  transition: opacity .35s ease;
  user-select: none;
  cursor: pointer !important;
  &:hover {
    opacity: 1;
  }
  &[disabled] {
    opacity: .25;
    box-shadow: inset 0 0 0 .125em var(--shade-color);
    cursor: not-allowed;
  }
  &.transparent {
    color: currentColor;
    background-image: none !important;
    background-color: transparent !important;
  }
  &.size-small {
    font-size: .75rem;
  }
  &.size-medium {
    font-size: .875rem;
  }
  &.size-large {
    font-size: 1rem;
  }
}
