// Style: Works > Work (Main)
[data-page="works"] {
  [data-view="work"] {
    text-align: center;
    .dim {
      color: var(--brand-color);
    }
  }
}

// Style: Works > Work (External)
[data-page="works"] {
  &:has([data-view="work"]) {
    & + * {
      .color {
        display: none;
      }
    }
  }
}
