[data-parent="works"] {
  text-align: center;
  [data-header] {
    [data-content="work-cover"] {
      display: block;
      width: calc(100% / 6 * 5);
      margin: 0 auto;
      margin-top: 2.5rem;
    }
  }
}
